label(for=InputId class=ClassName).input-dropdown__list__item.flex
    div.flex.align-items-center
        img(src=ImgSrc, class=ImgClassName).dropdown-item__image
        span.dropdown-item__text
            !=Nickname
    <label class="styled-checkbox scale translate style-blue">
        <input class="w-auto" id=!{InputId} type="checkbox"/>
        <span class="el">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z"></path></svg>
        </span>
    </label>
