case iconPosition 
    when "left"
        button.btn-reset.button(class=className, type=type, style=style)
            !=icon
            | #{label}
    when ""
        button.btn-reset.button(class=className, type=type, style=style)
            | #{label}
            !=icon

